Leap Year

In [1]:
year = int(input("Enter Year"))
if(year%4==0):
    print("Leap")
else:
    print("Not Leap Year")

Not Leap Year

In [18]:
x= input()
number,letter,special= 0,0,0
for i in x:
    if(i.isalpha()):
        letter+=1
    elif(i.isdigit()):
        number+=1
    else:
        special+=1

print(letter,number,special)

5 4 0

In [3]:
#Swap
a,b=5,-29
print(a,b)
a,b=b,a
print(a,b)

5 -29
-29 5

In [4]:
integer = 10 
string = "15"
print(integer*int(string))

150

In [5]:
x=ord('a')
for i in range(1,7):
    for j in range(i):
        print(chr(x),end=" ")
        x+=1
    print()

a
b c
d e f
g h i j
k l m n o
p q r s t u

In [6]:
n= int(input("Enter n"))
for i in range(2,n+1):
    for j in range(1,11):
        print(i*j,end=" ")
    print()

2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40

In [7]:
cm = int(input("Enter Height in cm"))
inches=0.394*cm
feet=0.0328*cm
print("The length in inches",round(inches,2))
print("The length in feet",round(feet,2))

The length in inches 48.46
The length in feet 4.03

In [8]:
def prime(x):
    f=1
    for i in range(2,x//2):
        if(x%i==0):
            print("Not prime")
            break
    else:
        print("This is prime")

n=int(input("Enter number"))
prime(n)

Not prime

In [9]:
#Reverse a number

def reverse(num):
    new=0
    while(num>0):
        r=num%10
        new=new*10+r
        num=num//10
    return new

print(reverse(123456789))
print(int(str(12345678)[::-1]))

987654321
87654321

In [10]:
# find palindrome
lx=['radar', 'mom', 'shivam','python','home','eye']
for string in lx:
    if(string==string[::-1]):
        print(string,end=" ")

radar mom eye

In [11]:
# numbers divisible by nineteen or thirteen from a list of numbers

a=[19,65,57,152,639,121,44,90,190]
list(filter(lambda x: x%19==0 or x%13==0,a))

[19, 65, 57, 152, 190]

In [12]:
# find all the words in a string that are less than 5 letters

string="It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout"

list(filter(lambda x: len(x)<5,string.split()))

['It',
 'is',
 'a',
 'long',
 'fact',
 'that',
 'a',
 'will',
 'be',
 'by',
 'the',
 'of',
 'a',
 'page',
 'when',
 'at',
 'its']

In [13]:
Emp= {'emp 01':'Raj','emp02': 'Sheela','emp 03':'Joseph'}
# remove spaces from keys

{ "".join(x.split()):y for x,y in Emp.items()}

{'emp01': 'Raj', 'emp02': 'Sheela', 'emp03': 'Joseph'}

In [14]:
{ x.replace(' ',''):y for x,y in Emp.items()}

{'emp01': 'Raj', 'emp02': 'Sheela', 'emp03': 'Joseph'}

In [15]:
list = [54,44,27,79,91,41]
list.insert(1,list.pop(4))
list.append(list[1])
list

[54, 91, 44, 27, 79, 41, 91]

In [16]:
# ### 12. Write a program that prints a list of sour fruits from the below tuple:
fruits = (('Lemon','sour'), ('DragonFruit', 'Sweet'), ('Grapes','soUr'), ('Kiwi','Sour'), ('Apples','sweet'), ('Orange','sour'), ('Blueberries','sweet'), ('Limes','Sour') ) 

[x[0] for x in fruits for y in x if y.lower()=='sour']

['Lemon', 'Grapes', 'Kiwi', 'Orange', 'Limes']

In [17]:
[x[0] for x in fruits  if x[1].lower()=='sour']

['Lemon', 'Grapes', 'Kiwi', 'Orange', 'Limes']