# Functions in Python

In [2]:
def greet():
    print("Hello world")

In [3]:
greet()

Hello world

In [18]:
def greet_user(username):
    print("Hello "+username.title()+"!")

In [19]:
greet_user("edith")

Hello Edith!

In [22]:
def multiply(a,b):
    z=a*b
    print(z)

multiply(5,3)
multiply(6,3)

15
18

In [24]:
def add(a,b):
    c=a+b
    return c

add(4,2)+10

16

### Positional Argument vs Keyword Argument

In [29]:
def person(name, age):
    print(name)
    print(age)

person("Kaal",34)
person(24,"Daku")

Kaal
34
24
Daku

In [30]:
person(age=28, name='KAKA')

KAKA
28

### Function with variable length argument

In [34]:
def sum(x):
    sum=0
    for i in x:
        sum+=i
    return sum

def product(x):
    p=1
    for i in x:
        p*=i
    return p


b=(5,7,8,2,3,10)
print(sum(b))
print(product(b))

35
16800

#### "*" for variable arguments , convert into tuple

In [41]:
def sum(*x):     
    sum=0
    for i in x:
        sum+=i
    return sum

sum(5,7,8,2,3,10)

35

#### "**" for dictionary convert

In [50]:
def info(**data):  
    for i,j in data.items():
        print(i,j)

In [51]:
info(name='Shivam',age=28,city= 'Renukoot', score=79)

name Shivam
age 28
city Renukoot
score 79

##### For else

In [ ]:
for i in 'Kanishq':
    if(i=='a'):
        break
    print(i)
else:
    print("This will be exexuted if loop is completed")

#### Scope of Variable
Global variable is defined outside the function whereas Local variable is defined inside the function. <br>
Global variable can be accessible anywhere throught the program whereas local varible can only be accessible inside the function

In [53]:
a=10   #global 
def test():
    a=25 
    x=32 #local
    print("in fun",a)

print(a)
test()

10
in fun 25

## Recursion
it is a function that calls itself in its definitionq

In [56]:
def fact(n):
    if n== 0:
        return 1
    else:
        return n*fact(n-1)
    
fact(5)

120

In [69]:
def fb(n):
    if n<= 0:
        return 0
    elif(n==1):
        return 1 
    else:
        return fb(n-1)+fb(n-2)   # we have faith that it will give fabonacci n-1 and n-2
    
fb(7)

13

In [72]:
n=int(input("Enter number"))

for i in range(n):
    print(fb(i),end=" ")

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181

## Anonymous/Inline Function

In [84]:
s= lambda x, y : x+y       # lambda is used to make a function oneline

In [76]:
s(4,6)

10

In [78]:
## map function

list(map(lambda x: x*x,[8,2,5,3,2,9,10]))

[64, 4, 25, 9, 4, 81, 100]

In [83]:
list(map(len,("Kanishq","Sharma","is","Great")))

[7, 6, 2, 5]

In [87]:
#filter function
lis=[5,3,6,3,9,3,2,6,8,10,12]

print(list(filter(lambda x: x%2!=0, lis)))

[5, 3, 3, 9, 3]

In [88]:
# Reduce function
# give only single number , use for accumulate result
from functools import reduce
t= reduce(lambda a,x: a+x, [9,3,2,9,10,11,13])
t

57