# Data Structures in Python

### List
Most useful <br>
Mutable in nature

In [1]:
li = [6 , 8 , 3 , 2 , 9.5 , 'Shivam' , 7 ,12]
li[3]="HEHE"
li

[6, 8, 3, 'HEHE', 9.5, 'Shivam', 7, 12]

In [44]:
x1=[1,2,3,4,5]
x2=[6,7,8,9,10]
x1*x2

TypeError: can't multiply sequence by non-int of type 'list'

In [2]:
len(li)

8

In [3]:
li.append(7864.768)
li

[6, 8, 3, 'HEHE', 9.5, 'Shivam', 7, 12, 7864.768]

In [4]:
li.extend([3,45,5,6,"Goog",343,434])

In [5]:
li

[6,
 8,
 3,
 'HEHE',
 9.5,
 'Shivam',
 7,
 12,
 7864.768,
 3,
 45,
 5,
 6,
 'Goog',
 343,
 434]

In [6]:
li2=[2,4,6,7,89,"punk","Ramp",446]
li.append(li2)
li

[6,
 8,
 3,
 'HEHE',
 9.5,
 'Shivam',
 7,
 12,
 7864.768,
 3,
 45,
 5,
 6,
 'Goog',
 343,
 434,
 [2, 4, 6, 7, 89, 'punk', 'Ramp', 446]]

In [7]:
li2.append((2,"this is tuple",23, False))
li2

[2, 4, 6, 7, 89, 'punk', 'Ramp', 446, (2, 'this is tuple', 23, False)]

In [37]:
type(li)

list

In [8]:
li2.extend(("This is from a tuple", 34, 43))
li2

[2,
 4,
 6,
 7,
 89,
 'punk',
 'Ramp',
 446,
 (2, 'this is tuple', 23, False),
 'This is from a tuple',
 34,
 43]

In [32]:
print(li2[-4][1])
print(li2[-3])

this is tuple
This is from a tuple

In [34]:
li2[-4][1]="It cannot be changed"

TypeError: 'tuple' object does not support item assignment

In [36]:
li2[-3]="I am changing it"
li2

[2,
 4,
 6,
 7,
 89,
 'punk',
 'Ramp',
 446,
 (2, 'this is tuple', 23, False),
 'I am changing it',
 34,
 43]

In [9]:
li[-1][5]

'punk'

In [10]:
li.insert(3,'data')
li

[6,
 8,
 3,
 'data',
 'HEHE',
 9.5,
 'Shivam',
 7,
 12,
 7864.768,
 3,
 45,
 5,
 6,
 'Goog',
 343,
 434,
 [2,
  4,
  6,
  7,
  89,
  'punk',
  'Ramp',
  446,
  (2, 'this is tuple', 23, False),
  'This is from a tuple',
  34,
  43]]

In [11]:
li.pop()

[2,
 4,
 6,
 7,
 89,
 'punk',
 'Ramp',
 446,
 (2, 'this is tuple', 23, False),
 'This is from a tuple',
 34,
 43]

In [12]:
li.pop(4)

'HEHE'

In [13]:
li.remove(12)   # remove first occurance of element
li.remove("data")

In [14]:
li

[6, 8, 3, 9.5, 'Shivam', 7, 7864.768, 3, 45, 5, 6, 'Goog', 343, 434]

In [15]:
li3=[1,4,6,9,7,4.6,8.5,5.4]
print(li3)
li3.reverse()
print(li3)
li3.sort()
print(li3)
li3.sort(reverse=True)
print(li3)

[1, 4, 6, 9, 7, 4.6, 8.5, 5.4]
[5.4, 8.5, 4.6, 7, 9, 6, 4, 1]
[1, 4, 4.6, 5.4, 6, 7, 8.5, 9]
[9, 8.5, 7, 6, 5.4, 4.6, 4, 1]

In [16]:
l1=[14,15,16,17,18,20]

In [17]:
l3 = l1  #Deep Copy
print(l1,l3)
l3[4]=6768
print(l1,l3)  #changes are reflectewd to original

[14, 15, 16, 17, 18, 20] [14, 15, 16, 17, 18, 20]
[14, 15, 16, 17, 6768, 20] [14, 15, 16, 17, 6768, 20]

In [18]:
l4 = l1.copy()   #shallow copy
print(l1,l4)
l4[2]="abacadaba"
print(l1,l4)

[14, 15, 16, 17, 6768, 20] [14, 15, 16, 17, 6768, 20]
[14, 15, 16, 17, 6768, 20] [14, 15, 'abacadaba', 17, 6768, 20]

### Tuple
Collection of different data type values <br>
Immutable in nature

In [19]:
t= (1,2.0,3,"four",5.2,"six",True,2,3,5,5,5,7)
type(t)

tuple

In [20]:
t[3]=343

TypeError: 'tuple' object does not support item assignment

In [23]:
t[3]

'four'

In [24]:
t[1:3]

(2.0, 3)

In [25]:
t.count(5)

3

In [26]:
len(t)

13

In [27]:
max(t)

TypeError: '>' not supported between instances of 'str' and 'int'

In [39]:
t1=(1,2,3,4,5,6,7,8)
t2=('a','b','c')
t1+t2

(1, 2, 3, 4, 5, 6, 7, 8, 'a', 'b', 'c')

In [41]:
t1*2

(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)

In [42]:
sorted(t1)

[1, 2, 3, 4, 5, 6, 7, 8]

### Problem

In [38]:
#q1 swap values without third
x=8
y=15
x,y = y,x
print(x,y)

15 8

In [22]:
year = int(input("Enter Year"))
if(year%4==0):
    print("Leap")
else:
    print("Not Leap Year")

Not Leap Year