# Control Statements

In [1]:
n= int(input("Enter Number"))
if n<30:
    print("Number is less than 30 ")
elif n<70:
    print("The number is greater than 30 and less than 70")
elif type(n)== int:
    print("it is a number")
else:
    print("Nothing")

it is a number

In [2]:
#Nested
x=12
if type(n)==int:
    if n<30:
        print("Number is less than 30 ")
    elif n<70:
        print("The number is greater than 30 and less than 70")
    else:
        print("greater than 70")
else:
    print("Other")

greater than 70

### For Loop

In [4]:
list(range(3,21))   #range(lower bound, upper bound)

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [6]:
list(range(3,21,3))  #range(lower bound, upper bound, step)

[3, 6, 9, 12, 15, 18]

In [14]:
for i in range(3,21):
    print(i,end=" ")

3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [4]:
for x in [3,132,3,34,34,5,343,6,6,7,7,75,46,4,64]:
    if(x%2==0):
       print(x,end=" ")

132 34 34 6 6 46 4 64

In [9]:
e=[]
a=[7,8,-9,-11,-13,3,6,8,-3,9]

for x in a:
    if x%2!=0:
        e.append(x)

e

[7, -9, -11, -13, 3, -3, 9]

### While

In [10]:
i=0

while i<=5:
    print(i)
    i+=1

0
1
2
3
4
5

In [14]:
for i in (7,6,9,3,'python',8.9,3.4):
    if(type(i)==str):
        print("Bye, I am going")
        break
    print(i,end=" ")

7 6 9 3 Bye, I am going

In [18]:
for i in (7,6,9,3,'python',8.9,3.4):  
    if(type(i)==str):
        continue
    print(i,end=" ")

7 6 9 3 8.9 3.4

In [20]:
l1= [7,6,2,4,3,8,6]
i=0
while i<len(l1):
    l1[i]=l1[i]**2
    i+=1

l1

[49, 36, 4, 16, 9, 64, 36]

In [21]:
d2= {'k1': [5,6,7,[8,9]] , 'k2':{3,5,6,9,10} , 'k3': (3,7,3,2,8), 'k4': {'name':'Rhoit', 'score':103}}
d2

{'k1': [5, 6, 7, [8, 9]],
 'k2': {3, 5, 6, 9, 10},
 'k3': (3, 7, 3, 2, 8),
 'k4': {'name': 'Rhoit', 'score': 103}}

In [24]:
out=[]
out.extend(d2['k3'])
out

[3, 7, 3, 2, 8]

In [25]:
out1=[]
for x in d2['k3']:
    out1.append(x)
out1

[3, 7, 3, 2, 8]

In [28]:
list(d2['k3'])

[3, 7, 3, 2, 8]

In [31]:
for i in range(1,11):
    for j in range(i):
        print('*',end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *