## Variables

In [8]:
x=2.2

In [10]:
x

7

In [13]:
type(x)

int

### Numbers

In [18]:
a,b = 10,20
print(a+b)
print(a-b)
print(a*b)
print(a/b)

30
-10
200
0.5

In [21]:
(5+7*4-10/(5-2))   #BODMAS RULE

29.666666666666668

In [22]:
9//4    #FLOOR DIVISION METHOD

2

In [25]:
6**6     #6 POWER 6

46656

In [29]:
import math as m
int(m.sqrt(5))

2

### Strings

In [36]:
s= "Kanishq Sharma"
s

'Kanishq Sharma'

In [37]:
type(s)

str

In [39]:
len(s)

14

In [93]:
s[4]='f'
# string is immutable in nature

TypeError: 'str' object does not support item assignment

#### Indexing & Slicing

In [68]:
print(s[12]) #forward indexing 
print(s[-1]) #backward indexing
print(s[-5])
print(s[8])
print(s[3])

m
a
h
S
i

In [72]:
print(s[0:5])
print(s[3:])
print(s[:6])
print(s[:])
print(s[::2])   #Third parameter is step
print(s[8: 2 :-1])  #give minus 1 for backward step and give range from backward direction
print(s[-5:-2])
print(s[5:-2])

Kanis
ishq Sharma
Kanish
Kanishq Sharma
KnsqSam
S qhsi
har
hq Shar

In [81]:
q="python for data science"
print(q.index('a'))
print(q.capitalize())
print(q.title())
print(q.upper())
print(s.lower())

12
Python for data science
Python For Data Science
PYTHON FOR DATA SCIENCE
kanishq sharma

In [87]:
print(q.split())
print(q.split()[1])

['python', 'for', 'data', 'science']
for

In [92]:
age = "28"
msg= "Happy"+age+"Birthday"
print(msg)

Happy28Birthday

In [1]:
string="Hello World"
print(string.swapcase()[::-1])

DLROw OLLEh